{% assign skills = site.data.ja.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  {% for toolset in skills.toolsets %}
  <div class="skillset">

    <h3 class="level-title">{{ toolset.name }}</h3>

    {% for skill in toolset.skills %}
    <span class="skill">{{ skill.name }}</span>
    {% endfor %}

  </div>
  {% endfor %}

</section><!--//skills-section-->
{% endif %}
